* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 17px;
  font-weight: 300;
  color: #909090;
  line-height: 21px;
  font-family: 'Segoe WP N';
}

body {
  margin: 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0;
}

p, ul, ol, figure {
  margin: 0 0 10px 0;
}

* + p, * + ul, * + ol , * + figure {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.67em 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  margin-top: 0.67em;
}

a, .link {
  color: #6c6c6c;
  text-decoration: none;
  -webkit-transition: 0.44s;
  -o-transition: 0.44s;
  transition: 0.44s;
}

a:hover, .link:hover {
  border-bottom: 3px solid #5094f2;
  padding-bottom: 17px;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.logo {
  min-width: 40px;
  min-height: 40px;
  background-color: #5094f2;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  color: #000000;
  font-size: 32px;
  letter-spacing: 0.42px;
  padding-left: 7px;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-link: hover {
  border: none;
  padding: 0;
}

.decore {
  position: absolute;
  top: -10px;
  background-image: url(../../images/decore.png);
  background-repeat: repeat-x;
  width: 100%;
  height: 20px;
  display: none;
}

/*Mobile*/
@media (min-width: 640px) {
  .logo {
    width: 53px;
    height: 52px;
  }
  .logo-text {
    font-size: 49px;
    padding-left: 15px;
  }

  .container-m {
    padding: 0 15px;
    max-width: 80%;
    box-sizing: content-box;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  .container {
    padding: 0 30px;
  }

  .decore {
    display: block;
  }
}