.button {
  font-size: 1rem;
  border: 1px solid #5094f2;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #5094f2;
  -webkit-transition: 0.44s;
  -o-transition: 0.44s;
  transition: 0.44s;
  color: rgb(5, 5, 5);
}

.button-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-primary  .icon {
  margin-right: 15px;
  fill: #fff;
  width: 33px;
  height: 33px;
}

.button-primary .button-text {
  color: #ffffff;
  font-size: 31px;
  font-weight: 300;
  line-height: 35px;
}

.button-primary:hover {
  background-color: #fff;
  opacity: 1;
}

.button-primary:hover .button-text {
  color: #5094f2;
}

.button-primary:hover .icon {
  fill: #5094f2;
}