.footer {
    padding: 15px;
    border-top: 1px solid rgba(000, 000, 000, 0.2);
}

.footer-text {
    font-size: 15px;
    line-height: 36px;
    text-align: center;
}
/*Mobile*/
@media (min-width: 640px) {
    .footer {
        padding: 25px;
    }
}