.hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
}

.hero-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  margin: 0;
}

.hero-background img{
  height: 100%;
}

.hero .grid {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.hero > .hero-image-left, .hero-image-right {
  min-width: 25px;
  min-height: 63px;
}

.hero .hero-image-left {
  margin: 0 0 0 60px;
  display: none;
}

.hero .hero-image-right {
  margin: 0 85px 0 0;
  display: none;
}

.hero-title, .hero-subtitle {
  color: #ffffff;
  font-size: 28px;
  font-weight: 300;
  line-height: 35px;
  margin: 0;
  text-align: center;
}

.hero-subtitle {
  font-size: 24px;
  margin-bottom: 15px;
}

.hero-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-left > .hero-image {
  margin: 0;
  max-width: 200px;
}

.hero-left > .hero-image img {
  display: block;
}

/*Mobile*/
@media (min-width: 640px) {
  .hero {
    padding: 30px 5px 15px 30px;
  }

  .hero .grid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .hero-title, .hero-subtitle {
    text-align: left;
    color: #ffffff;
    font-weight: 300;
    line-height: 35.94px;
    font-size: 30px;
  }

  .hero-subtitle {
    max-width: 70%;
    font-size: 21px;
    margin-bottom: 33px;
  }

  .hero .grid {
    margin: 0 0 0 -66px;
  }

  .hero .grid-item {
    padding: 0 0 0 66px;
  }
}

@media (min-width: 1250px) {
  .hero .hero-image-left, .hero .hero-image-right  {
    display: block
  }

  .hero-left > .hero-image {
    max-width: none;
  }

  .hero .grid {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .hero-title, .hero-subtitle {
    font-weight: 300;
    line-height: 44.42px;
    /* Text style for "L, orem Ip" */
    font-size: 42px;
  }

  .hero-subtitle {
    font-size: 26px;
    max-width: 60%;
  }
}